EVPUnitTest/Connected Services/AdministradorService/Administrador1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdministradorService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdministradorService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AdministradorDOM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAdministrador" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdministradorDOM" nillable="true" type="tns:AdministradorDOM" />
  <xs:complexType name="ArrayOfAdministradorDOM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdministradorDOM" nillable="true" type="tns:AdministradorDOM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdministradorDOM" nillable="true" type="tns:ArrayOfAdministradorDOM" />
</xs:schema>