EVP.UnitTest/Connected Services/AdministradorService/Administrador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Administrador" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sharedcss.com/evp/application/AdministradorService/Administrador.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sharedcss.com/evp/application/AdministradorService/Administrador.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AdministradorService.Errores" />
      <xsd:import schemaLocation="http://sharedcss.com/evp/application/AdministradorService/Administrador.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sharedcss.com/evp/application/AdministradorService/Administrador.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdministradorService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministrador_Autenticar_InputMessage">
    <wsdl:part name="parameters" element="tns:Autenticar" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Autenticar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Autenticar_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/AdministradorService.Errores" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Crear_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Crear_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/AdministradorService.Errores" name="detail" element="q2:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IAdministrador_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdministrador">
    <wsdl:operation name="Autenticar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrador/Autenticar" message="tns:IAdministrador_Autenticar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrador/AutenticarResponse" message="tns:IAdministrador_Autenticar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAdministrador/AutenticarRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IAdministrador_Autenticar_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrador/Crear" message="tns:IAdministrador_Crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrador/CrearResponse" message="tns:IAdministrador_Crear_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAdministrador/CrearRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IAdministrador_Crear_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrador/Obtener" message="tns:IAdministrador_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrador/ObtenerResponse" message="tns:IAdministrador_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrador/Modificar" message="tns:IAdministrador_Modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrador/ModificarResponse" message="tns:IAdministrador_Modificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrador/Eliminar" message="tns:IAdministrador_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrador/EliminarResponse" message="tns:IAdministrador_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministrador/Listar" message="tns:IAdministrador_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministrador/ListarResponse" message="tns:IAdministrador_Listar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdministrador" type="tns:IAdministrador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticar">
      <soap:operation soapAction="http://tempuri.org/IAdministrador/Autenticar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <soap:operation soapAction="http://tempuri.org/IAdministrador/Crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IAdministrador/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <soap:operation soapAction="http://tempuri.org/IAdministrador/Modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IAdministrador/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IAdministrador/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Administrador">
    <wsdl:port name="BasicHttpBinding_IAdministrador" binding="tns:BasicHttpBinding_IAdministrador">
      <soap:address location="http://sharedcss.com/evp/application/AdministradorService/Administrador.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>